*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, .h1Font{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.font-family{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ButtonP{
    transition: 0.5s;

    border: 0;
    outline: none;
}
button.bgBlue:hover{
    background-color: #1057ad;
}
button.bgLblue:hover{
    background-color: #0196db;
}
.strokeButton{
    transition: 0.5s;
    border: 1px solid #136ad5;
    outline: none;
    background-color: transparent;
}
.strokeButton:hover{
    background-color: #136ad5 !important;
    color: #fff;
}
.small-font{
    font-size: 0.8rem;
}
.bg-light-blue{
    background-color: #f3f7fd;
}
.bgLblue{
    background-color: #00aeff;
}
.bgBlue{
    background-color: #136ad5;
}
.bgGray{
    background-color: #f8f9fa;
}
.textBlue{
    color: #136ad5;
}
.textLblue{
    color: #00aeff;
}
.textGray{
    color: #666666;
}
.maxw{
    max-width: 650px;
}
.h5-size{
    font-size: 1.3rem;
}
.transition-5{
    transition: 0.5s;
}
.transition-1{
    transition: 1s;
}
.dropdown-menu{
    background-color: #00aeff !important;
}


p{
    color: #666666;
}
section{
    min-height: 80vh;
}
#home video, #Aboutus video{
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1;
}


.navbar-toggler{
    width: 20px;
    height: 20px;
    transition: 0.5s ease-in-out;
    position: relative;
}
.navbar-toggler, .navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:active, .btn-none, .btn-none:focus, .btn-none:active{
    outline: none !important;
    border: 0 !important;
    box-shadow: none !important;
}
.toggler-icon{
    display: block;
    background-color: #fff;
    position: absolute;
    height: 3px;
    width: 100%;
    border: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.5s;
}
.middle-bar {
    margin-top: 0;
}

.navbar-toggler .top-bar{
    margin-top: 0;
    transform: rotate(135deg);
}
.navbar-toggler .middle-bar{
    opacity: 0;
    filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar{
    margin-top: 0;
    transform: rotate(-135deg);    
}

.navbar-toggler.collapsed .top-bar{
    margin-top: -10px;
    transform: rotate(0deg);
}
.navbar-toggler.collapsed .middle-bar{
    opacity: 1;
    filter: alpha(opacity=1);
}
.navbar-toggler.collapsed .bottom-bar{
    margin-top: 10px;
    transform: rotate(0deg);
}





.fixedMove{
    top: 50px;
}
.ToggleM{
    display: none !important;
}
.dropdown-item:hover{
    background-color: #136ad5 !important;
}
.navbar .nav-link {
    opacity: 0.7;
}
.navbar .nav-link:hover {
    opacity: 0.9;
}
.navbar.nav-link.active {
    opacity: 1;
}
.hero h1{
    font-size: 3rem;
}
.overlay{
    background: #1057adcc;
}
.topdiv{
    height: 50px;
    border-bottom: 1px solid #ffffff55;
}
.height50{
    height: 50px;
}
#categories .icon{
    font-size: 2rem;

    width: 50px;
    height: 50px;
}
#Category .object-fit-contain{
    cursor: pointer;
}
footer .icon{
    width: 40px;
    height: 40px;
}
.icon{
    font-size: 2rem;

    width: 75px;
    height: 75px;
}
.center-md{
    justify-content: space-between;
}
.over-img{
    transform: translateY(-15%);
}
.line{
    height: 1px;
}
.back-img{
    background: url('./../img/back-img.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.img-shadow{
    box-shadow: 200px -30px 0 0 #136ad544;
}
#Tesimonials img{
    width: 75px;
}
.imgmove:hover img{
    transform: scale(1.1);
    cursor: pointer;
}


#corousal-indecator{
    width: 10px;
    height: 10px ;
    border-radius: 50%  ;
    background-color: #666666;
}
#corousal-indecator.active{
    background-color: #136ad5;
}


.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E") !important;
    margin-left: 0px !important;
    position: absolute;
    left: 13px;
}
.accordion-button:not(.collapsed)::after{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E") !important;
}
.accordion-button:not(.collapsed){
    background-color: #1057ad !important;
    color: #fff !important;
}
.accordion-button:focus{
    box-shadow: none !important;
}
.card-translate:hover{
    transform: translateY(-15px);
    background-color: #136ad5;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.5);
    border: 0 !important;
}
.card-translate:hover h2,.card-translate:hover p, .card-translate:hover span {
    color: #fff !important;
}
.card-translate:hover .icon , .card-translate:hover button, #Category .object-fit-contain:hover .icon{
    transform: translateY(-15px);
    box-shadow: 0 10px 20px 2px rgba(0, 0, 0, 0.3);
}








@media screen and (max-width : 991px) {
    .over-img{
        transform: translateY(0%);
    }
    .center-md{
        justify-content: center;
    }
    #navbarSupportedContent{
        background-color: #136ad5;
        padding: 20px;
    }
}
@media screen and (max-width : 768px){
    .ToggleM{
        display: block !important;
    }
    .ToggleP{
        display: none;
    }
}
@media screen and (max-width : 576px) {
    .column-small{
        flex-direction: column;
    }
    .column-small p , .column-small h2 {
        text-align: center;
    }
    footer p, footer h2{
        text-align: center;
    }
    .justify-xs{
        justify-content: center;
    }
}